@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@900&display=swap');

body {
  display: grid;
  height: 400px;
  width: 400px;
  margin: 0;
  place-items: center;
  background: linear-gradient(to right, #12c2e9, #4ff6b6);
}
.main{
  border: 3px solid black;
    padding-right: 100px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}


.wrapper {
  position: relative;
}


.form {
  position: relative;
  width: 250px;
  height: 400px;
  /* display: grid; */
  /* place-content: center; */
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* text-align: center; */
  border-radius: 12px;
  backdrop-filter: blur(12px);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}

h1,h3 {
  font-family: 'Arial';
  color:black;
  letter-spacing: 2px;
  margin-top: 0;
}
.text{
  color:rgb(0, 0, 0);
  text-align: center;
  padding-top: 2px;
}
textarea{
  border-radius: 12px;
  color:gray;
  text-align: center;
  align-items: center;

}

input, button {
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 25%;
  margin: 20px auto;
  padding: 12px 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  top:-20px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

button {
  cursor: pointer;
  background: #f64f59;
  color: white;
  transition: 0.5s;
}

button:hover {
  background: #12c2e9;
}


a {
  color:black;
  text-decoration: none;
  font-size: 16px;
}
